# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Other intermedia files
cmake-build-debug
cmake-build-release
cmake-build-minsizerel
cmake-build-relwithdebinfo
x64
build 
release 
resources/images/img.pptx 
.vs
*.user
*.log
.DS_Store
.idea
.gradle
.clangd
.cache
.vscode

# I don't want the applications in branch [main], only in [dev]
#applications

# I don't want to push the [tests] into the repository as well.
#tests

# I don't want to push the [tutorials] into the repository as well.
#tutorials

 